@font-face
{
    font-family: "SF Mono";
    src: url("../fonts/SFMonoLight.otf");
}

@font-face
{
    font-family: "Cream Cake";
    src: url("../fonts/nombre.otf");
}

@font-face
{
    font-family: "La Belle Aurora";
    src: url("../fonts/LaBelleAurora.ttf");
}

body
{
    background: #181818;
    counter-reset: my-sec-counter;
    display: flex;
    flex-direction: column;
}

header
{
    height: 10vh;
}

#section0
{
    height: 80vh;
}

#section1
{
    height: auto;
    margin-right: 5%;
    margin-top: 3%;
    width: 86%;
    float: right;
}

#section2, #section3
{
    height: auto;
    margin-right: 5%;
    margin-top: 3%;
    width: 86%;
    float: right;
    margin-bottom: 3%;
}

#section4
{
    height: 30vh;
    margin-right: 5%;
    margin-top: 3%;
    width: 86%;
    float: right;
}

.principal_data
{
    width: 86%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: right;
}

#opacity_control, #section1 > article > h1, #section1 > article > h2, #section1 > article > p, #technologies_section, #picture_section, #h1_section2, #h2_section2, #first_project, #second_project, #third_project, #h1_chart, #h2_chart, #information_chart
{
    opacity: 0;
    transition: opacity 3s .5s ease-out;
}

#opacity_control.is-visible, #section1 > article > h1.is-visible, #section1 > article > h2.is-visible, #section1 > article > p.is-visible, #technologies_section.is-visible, #picture_section.is-visible, #h1_section2.is-visible, #h2_section2.is-visible, #first_project.is-visible, #second_project.is-visible, #third_project.is-visible, #h1_chart.is-visible, #h2_chart.is-visible, #information_chart.is-visible
{
    opacity: 1;
}

#description
{
    transform: translate(0, calc(-50% + 2.5em));
}

.is-visible #description
{
    transform: translate(0, -50%);
}

#description
{
    transition: transform 4s .5s cubic-bezier(0,1,.3,1);
    will-change: transform;
}

#main_section_hi
{
    font-family: "SF Mono";
    display: flex;
    text-align: center;
    font-size: 1.6vw;
    width: 60%;
    color: #64ffda;
}

#name
{
    font-family: "Cream Cake";
    font-size: 5.4vw;
    margin: 0;
    padding: 0;
    color: white;
}

#build
{
    color: #64ffda;
    font-size: 4.6vw;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}

#build_web:before
{
    margin-top: 0.7em;
    margin-right: 0.1em;
    content: "";
    height: 1px;
    width: 50%;
    background-color: #ECD6F3;
}

#build_web
{
    color: #64ffda;
    font-size: 4.6vw;
    margin: 0;
    padding: 0;
    display: flex;
    opacity: 0.8;
}

nav
{
    z-index: 10;
    height: 10%;
}

nav a
{
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
    font-family: "SF Mono";
    padding: 10px;
}

nav li
{
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    margin-left: 16px;
}

nav ul
{
    float: right;
    margin-right: 3em;
}

.section::before
{
    counter-increment: my-sec-counter;
    content: "0" counter(my-sec-counter) ". ";
    color: #64ffda;
}

li a:after
{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    margin-top: 0.4em;
}

.section:hover:after { 
    width: 100%; 
    left: 0;
}

.social_network
{
    width: 6%;
    height: 100vh;
    text-align: center;
    position: relative;
    float: left;
}

.scrolling
{
    width: 6%;
    height: 100vh;
    text-align: center;
    position: relative;
    float: right;
}

.list_social_network
{
    list-style: none;
    padding: 0px;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 5%;
}

li a i
{
    color: #64ffda;
    margin-bottom: 16px;
    opacity: 0.5;
}

.list_social_network:after
{
    content: "";
    display: block;
    width: 1px;
    height: 200px;
    margin: 0px auto;
    background-color: #64ffda;
    opacity: 0.8;
}

.scrolling_list
{
    list-style: none;
    padding: 0px;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    margin: 0;
    width: 5%;
}

.scrolling_list:before
{
    content: "";
    display: block;
    width: 1px;
    height: 37vh;
    margin: 0px auto;
    background-color: transparent;
    opacity: 0.8;
    margin-bottom: 10px;
}

.scrolling_list:after
{
    content: "";
    display: block;
    width: 1px;
    height: 37vh;
    margin: 0px auto;
    background-color: transparent;
    opacity: 0.8;
    margin-top: 10px;
}

li a i:hover
{
    opacity: 1;
    color: white;
    transition: 0.3s;
}

#description
{
    color: #ECD6F3;
    letter-spacing: 0.1em;
    line-height: 20pt;
    opacity: 0.6;
    font-size: 1.4vw;
    margin-top: 5%;
}

.h1_left
{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.5vw;
    color: #64ffda;
    float: left;
    padding: 0;
    opacity: 1;
    width: 100%;
    opacity: 0.8;
}

.h2_who_is
{
    color: #ECD6F3;
    font-size: 3em;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: bold;
    opacity: 0.6;
}

.h2_right
{
    float: right;
    font-size: 3em;
    color: #ECD6F3;
    margin: 0;
    padding: 0;
    font-weight: bold;
    opacity: 0.6;
    width: 100%;
    text-align: right;
}

.h1_right
{
    float: right;
    font-size: 1.5em;
    color: #64ffda;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    width: 100%;
    text-align: right;
}

.h1_center
{
    font-family: "SF Mono";
    float: right;
    font-size: 1.5em;
    color: #64ffda;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
}

.h1_left::after
{
    content: "";
    display: block;
    position: relative;
    width: 50px;
    height: 1px;
    margin-left: 20px;
    background-color: #64ffda;
    opacity: 0.8;
}

.p_right
{
    font-size: 1.2em;
    color: white;
    float: right;
    margin: 0;
    padding: 0;
    width: 60%;
    text-align: left;
    text-align: justify;
    opacity: 0.8;
}

p a
{
    color: #64ffda;
    text-decoration: none;
    display: inline-block;
    opacity: 0.8;

}

p a::after 
{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #64ffda;
    transition: 300ms;
}

p a:hover::after
{
    width: 100%;
}

.hundred-percentage
{
    width: 100%;
    margin-bottom: 10%;
}

.experience_projects
{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    margin-bottom: 2%;
    position: relative;
}

.data_left
{
    width: 86%;
    float: left;
    height: 79vh;
    margin-left: 10%;
}

main
{
    min-height: 100vh;
    min-width: 100%;
    /*overflow: hidden;*/
}

.button_section
{
    width: 10px;
    height: 15px;
    background-color: transparent;
    border-color: #DE4AF9;
    margin-bottom: 10px;
    border-radius: 50%;
    border-style: solid;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .5s .25s ease-out;
    transition: border-radius 1s, border-color 1s;
}

.actual_button
{
    border-radius: 0%;
    background-color: transparent;
    border-color: #64ffda;
    opacity: 0.8;
    cursor: pointer;
}

.tagcloud--item
{
    color: #64ffda;
}

.tagcloud--item:hover
{
    color: #f0535d;
    font-size: 1.5em;
}

.sphere
{
    width: 30%;
}

.technologies_right
{
    float: right;
    width: 40%;
    list-style: none;
    padding: 0;
    margin-top: 5%;
    align-items: center;
    flex-direction: column;
    color: white;
    opacity: 0.8;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.technologies_right li 
{
    margin-bottom: 5px;
}

.technologies_right li::before
{
    content: '»';
    color: #64ffda;
    margin-right: 10%;
}

#technologies_section
{
    width: 60%;
    float: right;
}

#picture_section
{
    margin-top: 3%;
    width: 30%;
    float: left;
    display: flex;
    justify-content: center;
}

#picture_section > img 
{
    transform: rotate(-4deg);
    border-radius: 10px;
    position: absolute;
    width: 13%;
    z-index: 1;
    height: 470px;
}

#picture_section:after
{
    border: 2px solid #64ffda;
    top: 5px;
    left: 15px;
    z-index: -4;
    content: '';
    display: block;
    width: 50%;
    height: 476px;
    border-radius: 10px;
    transform: rotate(-4deg);
    position: relative;
}

#picture_section > img:hover
{
    filter: grayscale(100%);
}

#name_chart
{
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    opacity: 0.8;
}

#text_chart
{
    opacity: 0.8;
    color: white;
}

.borde
{
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.7) 0px 5px 15px;
    
    background-color: #DCDCDC;
}

#footer_text
{
    color: white;
    font-size: 1em
}

#footer_text:hover
{
    color: #64ffda;
}


.example_c {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(100, 255, 218, 0.5);
    padding: 20px;
    border: 4px solid #05644D;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.example_c:hover {
    color: #ffffff;
    background: #f6b93b;
    border-color: #f6b93b;
    transition: all 0.4s ease 0s;
}

#btn-menu
{
    display: none;
}

.bar1, .bar2, .bar3 {
    display: none;
}

.img_left
{
    max-width: 49%;
    float: left;
    margin-left: 2%; 
    position: absolute;
    height: 95%;
}

.img_right
{
    max-width: 50%;
    display: inline-block;
    margin-top: 3%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}

.img_projects
{
    max-width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}

.text_right
{
    width: 42%;
    float: right;
    margin-right: 3%;
    margin-left: 3%;
    vertical-align: middle;
}

.text_left
{
    width: 45%;
    text-align: justify;
    display: inline-block;
    overflow: auto;
    margin-left: 1em;
    margin-right: 1em;
}

.text_project
{
    color:black;
    text-align: justify;
    text-indent: 20px;
}

.tag_text
{
    color: black;
    font-size: 0.7em;
    opacity: 0.8;
}

.margin_tag_text
{
    margin-right: 1%;
}

.link_text
{
    color: black;
    display: inline-block;
    opacity: 0.6;
}

.link_div
{
    width: 99%;
    text-align: right;
    margin-top: 10px;
}

.project_text
{
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}

.box_project
{
    margin: 0;
}

.section_chart
{
    height: auto;
    width: 100%;
    overflow: auto;
}

.text_chart
{
    width: 42%;
    float: left;
    margin-top: 5%;
    text-align: center;
}

footer
{
    width: 100%;
    text-align: center;
    height: 9vh;
    bottom: 0;
    margin-top: auto;
    float: right;
    opacity: 0.6;
}

.chart
{
    height: 400px;
    width: 50%;
    margin-top: 5%;
    float: right;
}

@media (max-width:768px)
{
    .icon-menu
    {
        display: block;
        position: absolute;
        right: 2%;
    }

    .menu
    {
        position: absolute;
        top: 3em;
        left: 0em;
        width: 100%;
        transform: translateX(-100%);
        transition: all 0.3s;
    }

    .menu ul
    {
        display: block;
        background: #181818;
    }

    .menu ul li
    {
        width: 100%;
    }

    .menu ul li, .menu ul li a
    {
        color: white;
    }

    .menu ul li:hover ul
    {
        display: none;
        position: static;
    }

    .menu span 
    {
        position: absolute;
        right: 3%;
    }

    #btn-menu:checked ~ .menu
    {
        transform: translateX(0%);
    }

    .menu ul ul 
    {
        background: rgba(0,0,0,0.4);
    }

    .section:hover:after { 
        width: 0; 
    }

    #name
    {
        font-size: 3.4em;
    }

    #build
    {
        font-size: 2.8em;
    }

    #build_web
    {
        font-size: 2.5em;
    }

    #description
    {
        font-size: 1.8vw;
        margin-top: 5%;
    }

    #main_section_hi
    {
        font-size: 2.4vw;
    }

    #build_web:before
    {
        margin-top: 0.7em;
        margin-right: 0.1em;
        content: "";
        height: 1px;
        width: 60%;
        background-color: #ECD6F3;
    }

    .bar1, .bar2, .bar3 {
        display: block;
        width: 35px;
        height: 5px;
        background-color: #64ffda;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .h1_left
    {
        font-size: 3vw;
    }

    .h2_who_is, #h2_section2
    {
        font-size: 5.4vw;
    }

    #h1_section2
    {
        font-size: 3vw;
    }

    #picture_section
    {
        display: none;
    }

    .p_right
    {
        font-size: 2.4vw;
        color: white;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: justify;
        opacity: 0.8;
        margin-top: 5%;
    }

    .technologies_right
    {
        display: none;
    }

    #technologies_section
    {
        width: 100%;
    }

    .sphere
    {
        width: 50%;
        float: left;
    }

    #section1
    {
        margin-bottom: 10%;
    }

    .box_project
    {
        margin-top: 5%;
    }

    .hundred-percentage
    {
        margin-bottom: 25%;
    }

    .experience_projects
    {
        width: 100%;
        display: block;
        margin-bottom: 5%;
    }

    .img_left
    {
        max-width: 90%;
        float: center;
        margin: 0;
        margin-left: 5%; 
        height: 95%;
        position: static;
    }

    .img_projects, .project_text
    {
        transform: translateY(+10%);
    }

    .text_right
    {
        width: 90%;
        float: center;
        margin-top: 8%;
    }

    .text_left
    {
        width: 90%;
        text-align: justify;
        display: inline-block;
        overflow: auto;
        margin-left: 1em;
        margin-right: 1em;
    }

    .img_right
    {
        max-width: 90%;
        display: block;
        margin-top: 3%;
        margin-left: 5%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border-radius: 10px;
    }

    .text_chart
    {
        width: 90%;
        margin-top: 5%;
        float: center;
        text-align: center;
    }

    .chart
    {
        height: 400px;
        width: 95%;
        margin-top: 5%;
        float: center;
    }

    .tagcloud
    {
        width: 300px;
        height: 300px;
    }

}