@font-face
{
    font-family: "SF Mono";
    src: url("../fonts/SFMonoLight.otf");
}

@font-face
{
    font-family: "Cream Cake";
    src: url("../fonts/nombre.otf");
}

body
{
    background-color: #0a192f;
    counter-reset: my-sec-counter;
}
section
{
    height: 100vh;
}

h1
{
    color: white;
}

#main_section_text
{
    color: #64ffda;
}

.principal_data
{
    width: 90%;
    float: right;
    min-height: 50vh;
    margin-top: 4em;
}

#main_section_hi
{
    font-family: "SF Mono";
    display: flex;
    text-align: center;
    font-size: 1em;
    width: 60%;
}

#name
{
    font-family: "Cream Cake";
    font-size: 5em;
    margin: 0;
    padding: 0;
}

#build
{
    color: #64ffda;
    font-size: 4em;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}

#build_web:before
{
    margin-top: 0.7em;
    margin-right: 0.1em;
    content: "";
    height: 1px;
    flex: 0.5;
    background-color: #ECD6F3;
}

#build_web
{
    color: #64ffda;
    font-size: 4em;
    margin: 0;
    padding: 0;
    display: flex;
    opacity: 0.8;
}

nav a
{
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
    font-family: "SF Mono";
    padding: 10px;
}

nav li
{
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    margin-left: 16px;
}

nav ul
{
    float: right;
    margin-right: 3em;
}

.section::before
{
    counter-increment: my-sec-counter;
    content: "0" counter(my-sec-counter) ". ";
    color: #64ffda;
}

li a:after
{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    margin-top: 0.4em;
}

.section:hover:after { 
    width: 100%; 
    left: 0;
}

.social_network
{
    width: 6%;
    height: 100vh;
    text-align: center;
    position: relative;
    float: left;
}

.list_social_network
{
    list-style: none;
    padding: 0px;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
}

li a i
{
    color: #ECD6F3;
    margin-bottom: 16px;
    opacity: 0.5;
}

.list_social_network:after
{
    content: "";
    display: block;
    width: 1px;
    height: 200px;
    margin: 0px auto;
    background-color: #ECD6F3;
    opacity: 0.8;
}

li a i:hover
{
    opacity: 1;
    color: #64ffda;
    transition: 0.3s;
}

#square
{
    background-color:transparent;
    border: 3px solid #333234;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    -webkit-animation:rescale 2s infinite;
    animation: rescale 5s infinite;
    opacity: 0.8;
    display: inline-block;
}
  
  @-webkit-keyframes rescale{
    0% {transform:rotate(0deg);}
    10% {transform:rotate(36deg);}
    15% {transform:rotate(50deg);}
    20% {transform:rotate(72deg);}
    25% {transform:rotate(90deg);}
    30% {transform:rotate(108deg);}
    35% {transform:rotate(120deg);}
    40% {transform:rotate(144deg);}
    45% {transform:rotate(162deg);}
    50% {transform:rotate(180deg);}
    60% {transform:rotate(216deg);}
    70% {transform:rotate(252deg);}
    80% {transform:rotate(288deg);}
    90% {transform:rotate(334deg);}
    100% {transform:rotate(360deg);}
  }
  
  @keyframes rescale{
    0% {transform:rotate(0deg);}
    10% {transform:rotate(36deg);}
    20% {transform:rotate(72deg);}
    30% {transform:rotate(108deg);}
    40% {transform:rotate(144deg);}
    50% {transform:rotate(180deg);}
    60% {transform:rotate(216deg);}
    70% {transform:rotate(252deg);}
    80% {transform:rotate(288deg);}
    90% {transform:rotate(334deg);}
    100% {transform:rotate(360deg);}
  }