@font-face
{
    font-family: "SF Mono";
    src: url("../fonts/SFMonoLight.otf");
}

@font-face
{
    font-family: "Cream Cake";
    src: url("../fonts/nombre.otf");
}

@font-face
{
    font-family: "La Belle Aurora";
    src: url("../fonts/LaBelleAurora.ttf");
}

body
{
    background-color: #0a192f;
    counter-reset: my-sec-counter;
}

section
{
    height: 100vh;
}

h1
{
    color: white;
}

.principal_data
{
    width: 86%;
    float: right;
    min-height: 50vh;
    margin-top: 4em;
}

#opacity_control
{
    opacity: 0;
    transition: opacity .5s .25s ease-out;
}

#opacity_control.is-visible
{
    opacity: 1;
}

#description
{
    transform: translate(0, calc(-50% + 1em));
}

.is-visible #description
{
    transform: translate(0, -50%);
}

#description
{
    transition: transform 4s .35s cubic-bezier(0,1,.3,1);
    will-change: transform;
}

#main_section_hi
{
    font-family: "SF Mono";
    display: flex;
    text-align: center;
    font-size: 1em;
    width: 60%;
    color: #64ffda;
}

#name
{
    font-family: "Cream Cake";
    font-size: 5.4em;
    margin: 0;
    padding: 0;
}

#build
{
    color: #64ffda;
    font-size: 4.6em;
    margin: 0;
    padding: 0;
    opacity: 0.8;
}

#build_web:before
{
    margin-top: 0.7em;
    margin-right: 0.1em;
    content: "";
    height: 1px;
    flex: 0.56;
    background-color: #ECD6F3;
}

#build_web
{
    color: #64ffda;
    font-size: 4.6em;
    margin: 0;
    padding: 0;
    display: flex;
    opacity: 0.8;
}

nav a
{
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
    font-family: "SF Mono";
    padding: 10px;
}

nav li
{
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    margin-left: 16px;
}

nav ul
{
    float: right;
    margin-right: 3em;
}

.section::before
{
    counter-increment: my-sec-counter;
    content: "0" counter(my-sec-counter) ". ";
    color: #64ffda;
}

li a:after
{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    margin-top: 0.4em;
}

.section:hover:after { 
    width: 100%; 
    left: 0;
}

.social_network
{
    width: 6%;
    height: 100vh;
    text-align: center;
    position: relative;
    float: left;
}

.list_social_network
{
    list-style: none;
    padding: 0px;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 5%;
}

li a i
{
    color: #ECD6F3;
    margin-bottom: 16px;
    opacity: 0.5;
}

.list_social_network:after
{
    content: "";
    display: block;
    width: 1px;
    height: 200px;
    margin: 0px auto;
    background-color: #ECD6F3;
    opacity: 0.8;
}

li a i:hover
{
    opacity: 1;
    color: #64ffda;
    transition: 0.3s;
}

#description
{
    color: #ECD6F3;
    letter-spacing: 0.1em;
    line-height: 20pt;
    opacity: 0.6;
}